*.o
*.dylib
*.so
*.a

# xcode noise
*.build
*.pbxuser
*.perspective*
*.mode1*
project.xcworkspace
xcuserdata
instruments

# project relative derived build data
DerivedData

# osx noise
.DS_Store
profile
